html {
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/header_bg.jpg");
}

@font-face {
    font-family: 'OCR_OneCTT';
    font-style: normal;
    font-weight: 400;
    src: local('OCR_OneCTT'), local('OCR_OneCTT-Regular'),
        url(https://allfont.ru/cache/fonts/ocr_onectt_e0c949b5146d7749fc6b990d1ddc9cae.woff) format('woff'),
        url(https://allfont.ru/cache/fonts/ocr_onectt_e0c949b5146d7749fc6b990d1ddc9cae.ttf) format('truetype');
}

.cameragif {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transform-origin: top left;
    margin-left: 37%;
    position: absolute;
}

.inp{
    position: absolute;
    margin-left: 37%;
    top: 60%;
    width: 500px;
}

.pic{
    position: absolute;
    margin-left: 40%;
    top: 31%;
}

input::placeholder {
    text-align: center;
    font-family: 'OCR_OneCTT', arial;
  }

input,
textarea,
select {
    border: 1px solid #111;
    padding: 0.5em;
    font-size: 15px;
    line-height: 1.2em;
    width: 80%;
    background: #444;
    color: #00FF00;
    font-family: 'OCR_OneCTT', arial;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
    -webkit-appearance: none;
    /*box-shadow*/
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
}
input:focus,
textarea:focus,
select:focus { outline-color: #c00 }
textarea {
    height: 55px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: -moz-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: -o-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: -ms-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
	background: gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
}